---
title: Openshift Dev Center
layout: base
--- 
/ - - - - - - - - - END SECTION - - - - - - - - -
/ - - - - - - - - - SECTION - - - - - - - - -
/ Breadcrumbs
.pi-section-w.pi-border-bottom.pi-section-grey
  .pi-section.pi-titlebar.pi-breadcrumb-only
    .pi-breadcrumb.pi-center-text-xs
      %ul
        %li
          %a{href: "#"} Home
        %li
          %a{href: "#"} Frameworks & Languages
/ End breadcrumbs
/ - - - - - - - - - END SECTION - - - - - - - - -
/ - - - - - - - - - SECTION - - - - - - - - -
.pi-section-w.pi-section-white
  .pi-section.pi-padding-bottom-30
    / Filter
    / End filter
    / Portfolio gallery
    #isotope.pi-row.pi-liquid-col-xs-2.pi-liquid-col-sm-3.pi-gallery.pi-gallery-small-margins.pi-text-center.isotope
      / Portfolio item
      .Beautiful.Morning.pi-gallery-item.pi-padding-bottom-40.isotope-item
        .pi-img-w.pi-img-round-corners.pi-img-shadow
          %a{href: "docs/Drupal/"}
            %img{alt: "", src: "stylesheets/Languages/drupal.png"}/
            .pi-img-overlay.pi-no-padding.pi-img-overlay-darker
              .pi-caption-centered
                %div
                  %span.pi-caption-icon.pi-caption-scale.icon-search
        %h3.h6.pi-weight-700.pi-uppercase.pi-letter-spacing.pi-margin-bottom-5
          %a{href: "#"} Drupal
        %ul.pi-meta
          %li
            %i.icon-tag
            = succeed "," do
              %a{href: "#"} Tag 1
            %a{href: "#"} Tag 2
      / End portfolio item
      / Portfolio item
      .Lifestyle.Creation.pi-gallery-item.pi-padding-bottom-40.isotope-item
        .pi-img-w.pi-img-round-corners.pi-img-shadow
          %a{href: "docs/Wordpress/"}
            %img{alt: "", src: "stylesheets/Languages/wordpress.png"}/
            .pi-img-overlay.pi-no-padding.pi-img-overlay-darker
              .pi-caption-centered
                %div
                  %span.pi-caption-icon.pi-caption-scale.icon-plus
        %h3.h6.pi-weight-700.pi-uppercase.pi-letter-spacing.pi-margin-bottom-5
          %a.pi-link-dark{href: "#"} Wordpress
        %ul.pi-meta
          %li
            %i.icon-tag
            = succeed "," do
              %a{href: "#"} Tag 1
            %a{href: "#"} Tag 2
      / End portfolio item
      / Portfolio item
      .Technology.Business.pi-gallery-item.pi-padding-bottom-40.isotope-item
        .pi-img-w.pi-img-round-corners.pi-img-shadow
          %a{href: "docs/Java/"}
            %img{alt: "", src: "stylesheets/Languages/java.png"}/
            .pi-img-overlay.pi-no-padding.pi-img-overlay-darker
              .pi-caption-centered
                %div
                  %span.pi-caption-icon.pi-caption-scale.icon-search
        %h3.h6.pi-weight-700.pi-uppercase.pi-letter-spacing.pi-margin-bottom-5
          %a.pi-link-dark{href: "#"} Java
        %ul.pi-meta
          %li
            %i.icon-tag
            = succeed "," do
              %a{href: "#"} Tag 1
            %a{href: "#"} Tag 2
      / End portfolio item
      / Portfolio item
      .Beautiful.Travel.pi-gallery-item.pi-padding-bottom-40.isotope-item
        .pi-img-w.pi-img-round-corners.pi-img-shadow
          %a{href: "docs/Jboss"}
            %img{alt: "", src: "stylesheets/Languages/jboss.png"}/
            .pi-img-overlay.pi-no-padding.pi-img-overlay-darker
              .pi-caption-centered
                %div
                  %span.pi-caption-icon.pi-caption-scale.icon-plus
        %h3.h6.pi-weight-700.pi-uppercase.pi-letter-spacing.pi-margin-bottom-5
          %a.pi-link-dark{href: "#"} JBoss
        %ul.pi-meta
          %li
            %i.icon-tag
            = succeed "," do
              %a{href: "#"} Tag 1
            %a{href: "#"} Tag 2
      / End portfolio item
      / Portfolio item
      .Beautiful.Food.pi-gallery-item.pi-padding-bottom-40.isotope-item
        .pi-img-w.pi-img-round-corners.pi-img-shadow
          %a{href: "docs/Ruby"}
            %img{alt: "", src: "stylesheets/Languages/ruby.png"}/
            .pi-img-overlay.pi-no-padding.pi-img-overlay-darker
              .pi-caption-centered
                %div
                  %span.pi-caption-icon.pi-caption-scale.icon-search
        %h3.h6.pi-weight-700.pi-uppercase.pi-letter-spacing.pi-margin-bottom-5
          %a.pi-link-dark{href: "#"} Ruby
        %ul.pi-meta
          %li
            %i.icon-tag
            = succeed "," do
              %a{href: "#"} Tag 1
            %a{href: "#"} Tag 2
      / End portfolio item
      / Portfolio item
      .Sport.Lifestyle.pi-gallery-item.pi-padding-bottom-40.isotope-item
        .pi-img-w.pi-img-round-corners.pi-img-shadow
          %a{href: "docs/PHP"}
            %img{alt: "", src: "stylesheets/Languages/php.png"}/
            .pi-img-overlay.pi-no-padding.pi-img-overlay-darker
              .pi-caption-centered
                %div
                  %span.pi-caption-icon.pi-caption-scale.icon-plus
        %h3.h6.pi-weight-700.pi-uppercase.pi-letter-spacing.pi-margin-bottom-5
          %a.pi-link-dark{href: "#"} PHP
        %ul.pi-meta
          %li
            %i.icon-tag
            = succeed "," do
              %a{href: "#"} Tag 1
            %a{href: "#"} Tag 2
      / End portfolio item
      / Portfolio item
      .Food.Nature.pi-gallery-item.pi-padding-bottom-40.isotope-item
        .pi-img-w.pi-img-round-corners.pi-img-shadow
          %a{href: "docs/Nodejs"}
            %img{alt: "", src: "stylesheets/Languages/nodejs.png"}/
            .pi-img-overlay.pi-no-padding.pi-img-overlay-darker
              .pi-caption-centered
                %div
                  %span.pi-caption-icon.pi-caption-scale.icon-search
        %h3.h6.pi-weight-700.pi-uppercase.pi-letter-spacing.pi-margin-bottom-5
          %a.pi-link-dark{href: "#"} NodeJS
        %ul.pi-meta
          %li
            %i.icon-tag
            = succeed "," do
              %a{href: "#"} Tag 1
            %a{href: "#"} Tag 2
      / End portfolio item
      / Portfolio item
      .Travel.Lifestyle.pi-gallery-item.pi-padding-bottom-40.isotope-item
        .pi-img-w.pi-img-round-corners.pi-img-shadow
          %a{href: "docs/Python"}
            %img{alt: "", src: "stylesheets/Languages/python.png"}/
            .pi-img-overlay.pi-no-padding.pi-img-overlay-darker
              .pi-caption-centered
                %div
                  %span.pi-caption-icon.pi-caption-scale.icon-plus
        %h3.h6.pi-weight-700.pi-uppercase.pi-letter-spacing.pi-margin-bottom-5
          %a.pi-link-dark{href: "#"} Python
        %ul.pi-meta
          %li
            %i.icon-tag
            = succeed "," do
              %a{href: "#"} Tag 1
            %a{href: "#"} Tag 2
      / End portfolio item
      / Portfolio item
      .Nature.Business.pi-gallery-item.pi-padding-bottom-40.isotope-item
        .pi-img-w.pi-img-round-corners.pi-img-shadow
          %a{href: "docs/Wildfly"}
            %img{alt: "", src: "stylesheets/Languages/wildfly.png"}/
            .pi-img-overlay.pi-no-padding.pi-img-overlay-darker
              .pi-caption-centered
                %div
                  %span.pi-caption-icon.pi-caption-scale.icon-search
        %h3.h6.pi-weight-700.pi-uppercase.pi-letter-spacing.pi-margin-bottom-5
          %a.pi-link-dark{href: "#"} WildFly
        %ul.pi-meta
          %li
            %i.icon-tag
            = succeed "," do
              %a{href: "#"} Tag 1
            %a{href: "#"} Tag 2
      / End portfolio item
      / Portfolio item
      .pi-gallery-item.pi-padding-bottom-40.isotope-item{class: "Сreation"}
        .pi-img-w.pi-img-round-corners.pi-img-shadow
          %a{href: "docs/Django"}
            %img{alt: "", src: "stylesheets/Languages/django.png"}/
            .pi-img-overlay.pi-no-padding.pi-img-overlay-darker
              .pi-caption-centered
                %div
                  %span.pi-caption-icon.pi-caption-scale.icon-plus
        %h3.h6.pi-weight-700.pi-uppercase.pi-letter-spacing.pi-margin-bottom-5
          %a.pi-link-dark{href: "#"} Django
        %ul.pi-meta
          %li
            %i.icon-tag
            %a{href: "#"} Tag 1
      / End portfolio item
      / Portfolio item
      .Travel.Lifestyle.pi-gallery-item.pi-padding-bottom-40.isotope-item
        .pi-img-w.pi-img-round-corners.pi-img-shadow
          %a{href: "docs/MongoDB"}
            %img{alt: "", src: "stylesheets/Languages/mongodb.png"}/
            .pi-img-overlay.pi-no-padding.pi-img-overlay-darker
              .pi-caption-centered
                %div
                  %span.pi-caption-icon.pi-caption-scale.icon-search
        %h3.h6.pi-weight-700.pi-uppercase.pi-letter-spacing.pi-margin-bottom-5
          %a.pi-link-dark{href: "#"} MongoDB
        %ul.pi-meta
          %li
            %i.icon-tag
            = succeed "," do
              %a{href: "#"} Tag 1
            %a{href: "#"} Tag 2
      / End portfolio item
      / Portfolio item
      .Creation.Lifestyle.pi-gallery-item.pi-padding-bottom-40.isotope-item
        .pi-img-w.pi-img-round-corners.pi-img-shadow
          %a{href: "docs/Mysql"}
            %img{alt: "", src: "stylesheets/Languages/mysql.png"}/
            .pi-img-overlay.pi-no-padding.pi-img-overlay-darker
              .pi-caption-centered
                %div
                  %span.pi-caption-icon.pi-caption-scale.icon-plus
        %h3.h6.pi-weight-700.pi-uppercase.pi-letter-spacing.pi-margin-bottom-5
          %a.pi-link-dark{href: "#"} Mysql
        %ul.pi-meta
          %li
            %i.icon-tag
            = succeed "," do
              %a{href: "#"} Tag 1
            %a{href: "#"} Tag 2
      / End portfolio item
      / Portfolio item
      .Nature.pi-gallery-item.pi-padding-bottom-40.isotope-item
        .pi-img-w.pi-img-round-corners.pi-img-shadow
          %a{href: "docs/Go"}
            %img{alt: "", src: "stylesheets/Languages/golang.png"}/
            .pi-img-overlay.pi-no-padding.pi-img-overlay-darker
              .pi-caption-centered
                %div
                  %span.pi-caption-icon.pi-caption-scale.icon-search
        %h3.h6.pi-weight-700.pi-uppercase.pi-letter-spacing.pi-margin-bottom-5
          %a.pi-link-dark{href: "#"} Go
        %ul.pi-meta
          %li
            %i.icon-tag
            %a{href: "#"} Tag 1
      / End portfolio item
      / Portfolio item
      .Creation.Nature.pi-gallery-item.pi-padding-bottom-40.isotope-item
        .pi-img-w.pi-img-round-corners.pi-img-shadow
          %a{href: "docs/Tomcat"}
            %img{alt: "", src: "stylesheets/Languages/tomcat.png"}/
            .pi-img-overlay.pi-no-padding.pi-img-overlay-darker
              .pi-caption-centered
                %div
                  %span.pi-caption-icon.pi-caption-scale.icon-plus
        %h3.h6.pi-weight-700.pi-uppercase.pi-letter-spacing.pi-margin-bottom-5
          %a.pi-link-dark{href: "#"} Apache Tomcat
        %ul.pi-meta
          %li
            %i.icon-tag
            = succeed "," do
              %a{href: "#"} Tag 1
            %a{href: "#"} Tag 2
      / End portfolio item
      / Portfolio item
      .Nature.pi-gallery-item.pi-padding-bottom-40.isotope-item
        .pi-img-w.pi-img-round-corners.pi-img-shadow
          %a{href: "docs/Cartridge_Creation"}
            %img{alt: "", src: "stylesheets/Languages/openshift.png"}/
            .pi-img-overlay.pi-no-padding.pi-st-overlay-darker
              .pi-caption-centered
                %div
                  %span.pi-caption-icon.pi-caption-scale.icon-search
        %h3.h6.pi-weight-700.pi-uppercase.pi-letter-spacing.pi-margin-bottom-5
          %a.pi-link-dark{href: "#"} Cartridge Creation
        %ul.pi-meta
          %li
            %i.icon-tag
            %a{href: "#"} Tag 1
      / End portfolio item
    / End portfolio gallery
/ - - - - - - - - - END SECTION - - - - - - - - -
/ - - - - - - - - - END SECTION - - - - - - - - -
.pi-section-w.pi-shadow-inside-top.pi-section-base
  .pi-texture{style: "background: url(stylesheets/Images/hexagon.png) repeat;"}
  .pi-section
    / Row
    .pi-row
      / Col 8
      .pi-col-sm-8.pi-text-right.pi-center-text-sm
        %p.lead-30.pi-text-white
          Want to submit your own documentation?
          -# %span.pi-weight-400
      / End col 8
      / Col 4
      .pi-col-sm-4.pi-center-text-sm
        %p
          %a.btn.pi-btn-base-2.pi-btn-big{href: "https://github.com/Coolhand/devcenter"}
            %i.icon-mail.pi-icon-left
            Fork us on Github
      / End col 4
    / End row