!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1, user-scalable=no", name: "viewport"}/
    %title Portfolio 1
    %link{href: "stylesheets/style.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "stylesheets/images.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "stylesheets/galleries.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "stylesheets/portfolio.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "stylesheets/page-nav.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "stylesheets/3dParty/colorbox/colorbox.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "stylesheets/alert-boxes.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "stylesheets/animations.css", rel: "stylesheet", type: "text/css"}/
    / Fonts
    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic", rel: "stylesheet", type: "text/css"}/
    / Fonts with Icons
    %link{href: "stylesheets/3dParty/fontello/css/fontello.css", rel: "stylesheet"}/
    /[if lte IE 8]
      <script src="scripts/respond.min.js"></script>
  %body.pi-bg-main-wood
    #pi-all
      -# / Header
      -# .pi-main-header-w
      -#   / Header row
      -#   .pi-section-w.pi-section-header-w.pi-section-dark.pi-section-header-sm-w
      -#     .pi-section.pi-section-header.pi-section-header-sm.pi-clearfix
      -#       / Phone
      -#       .pi-header-block.pi-header-block-txt
      -#         %i.pi-header-block-icon.icon-phone-1.pi-icon-base.pi-icon-square>
      -#         Call Us:
      -#         %strong +7.906.229.2627
      -#       / End phone
      -#       / Email
      -#       .pi-header-block.pi-header-block-txt.pi-hidden-xs
      -#         %i.pi-header-block-icon.icon-mail-alt.pi-icon-base.pi-icon-square>
      -#         Email:
      -#         %a{href: "#"} hello@pitheme.com
      -#       / End email
      -#       / Social icons
      -#       .pi-header-block.pi-pull-right.pi-hidden-2xs
      -#         %ul.pi-social-icons.pi-stacked.pi-jump.pi-full-height.pi-bordered.pi-small.pi-colored-bg.clearFix
      -#           %li
      -#             %a.pi-social-icon-twitter{href: "#"}
      -#               %i.icon-twitter
      -#           %li
      -#             %a.pi-social-icon-facebook{href: "#"}
      -#               %i.icon-facebook
      -#           %li
      -#             %a.pi-social-icon-dribbble{href: "#"}
      -#               %i.icon-dribbble
      -#       / End social icons
      -#       / Text
      -#       .pi-header-block.pi-header-block-txt.pi-pull-right.pi-hidden-xs Follow Us:
      -#       / End text
      -#   / End header row
      -#   / Header row
        -# .pi-section-w.pi-section-header-w.pi-section-white.pi-section-header-lg-w.pi-header-row-fixed.pi-shadow-bottom
        -#   .pi-section.pi-section-header.pi-section-header-lg.pi-clearfix
        -#     / Logo
        -#     .pi-header-block.pi-header-block-logo
        -#       %a{href: "index.html"}
        -#         %img{alt: "", src: "img/logo-base.png"}/
        -#     / End logo
        -#     / Text
        -#     .pi-header-block.pi-header-block-txt.pi-hidden-2xs HTML5 template
        -#     / End text
        -#     / Menu
        -#     .pi-header-block.pi-pull-right
        -#       %ul.pi-simple-menu.pi-has-hover-border.pi-full-height.pi-hidden-sm
        -#         %li.pi-has-dropdown.active
        -#           %a{href: "index.html"}
        -#             %span Home
        -#           %ul.pi-submenu.pi-has-border.pi-items-have-borders.pi-has-shadow.pi-submenu-dark
        -#             %li
        -#               %a{href: "index.html"}
        -#                 %span Home 1
        -#             %li
        -#               %a{href: "home-home-2.html"}
        -#                 %span Home 2
        -#             %li
        -#               %a{href: "home-home-3.html"}
        -#                 %span Home 3
        -#             %li
        -#               %a{href: "home-home-4.html"}
        -#                 %span Home 4
        -#             %li
        -#               %a{href: "home-home-5.html"}
        -#                 %span Home 5
        -#             %li
        -#               %a{href: "home-home-6.html"}
        -#                 %span Home 6
        -#             %li
        -#               %a{href: "home-home-7.html"}
        -#                 %span Home 7
        -#             %li
        -#               %a{href: "home-home-8.html"}
        -#                 %span Home 8
        -#             %li
        -#               %a{href: "home-home-9.html"}
        -#                 %span Home 9
        -#             %li
        -#               %a{href: "home-home-10.html"}
        -#                 %span Home 10
        -#         %li.pi-has-dropdown
        -#           %a{href: "headers-headers-light.html"}
        -#             %span Features
        -#           %ul.pi-submenu.pi-has-border.pi-items-have-borders.pi-has-shadow.pi-submenu-dark
        -#             %li.pi-has-dropdown
        -#               %a{href: "headers-headers-light.html"}
        -#                 %span Headers
        -#               %ul.pi-submenu
        -#                 %li
        -#                   %a{href: "headers-headers-light.html"}
        -#                     %span Headers Light
        -#                 %li
        -#                   %a{href: "headers-headers-dark.html"}
        -#                     %span Headers Dark
        -#                 %li
        -#                   %a{href: "headers-headers-base.html"}
        -#                     %span Headers Base
        -#             %li.pi-has-dropdown
        -#               %a{href: "footers-footers-light.html"}
        -#                 %span Footers
        -#               %ul.pi-submenu
        -#                 %li
        -#                   %a{href: "footers-footers-light.html"}
        -#                     %span Footers Light
        -#                 %li
        -#                   %a{href: "footers-footers-dark.html"}
        -#                     %span Footers Dark
        -#                 %li
        -#                   %a{href: "footers-footers-base.html"}
        -#                     %span Footers Base
        -#         %li.pi-has-dropdown
        -#           %a{href: "about-about-1.html"}
        -#             %span Templates
        -#           %ul.pi-submenu.pi-has-border.pi-items-have-borders.pi-has-shadow.pi-submenu-dark
        -#             %li.pi-has-dropdown
        -#               %a{href: "about-about-1.html"}
        -#                 %span About Company
        -#               %ul.pi-submenu
        -#                 %li
        -#                   %a{href: "about-about-1.html"}
        -#                     %span About 1
        -#                 %li
        -#                   %a{href: "about-about-2.html"}
        -#                     %span About 2
        -#                 %li
        -#                   %a{href: "about-about-3.html"}
        -#                     %span About 3
        -#                 %li
        -#                   %a{href: "about-about-4.html"}
        -#                     %span About 4
        -#             %li.pi-has-dropdown
        -#               %a{href: "blog-blog-1.html"}
        -#                 %span Blog
        -#               %ul.pi-submenu
        -#                 %li
        -#                   %a{href: "blog-blog-1.html"}
        -#                     %span Blog 1
        -#                 %li
        -#                   %a{href: "blog-blog-2.html"}
        -#                     %span Blog 2
        -#                 %li
        -#                   %a{href: "blog-blog-3.html"}
        -#                     %span Blog 3
        -#             %li.pi-has-dropdown
        -#               %a{href: "faq-faq-1.html"}
        -#                 %span FAQ
        -#               %ul.pi-submenu
        -#                 %li
        -#                   %a{href: "faq-faq-1.html"}
        -#                     %span FAQ 1
        -#                 %li
        -#                   %a{href: "faq-faq-2.html"}
        -#                     %span FAQ 2
        -#             %li.pi-has-dropdown
        -#               %a{href: "clients-clients-1.html"}
        -#                 %span Clients
        -#               %ul.pi-submenu
        -#                 %li
        -#                   %a{href: "clients-clients-1.html"}
        -#                     %span Clients 1
        -#                 %li
        -#                   %a{href: "clients-clients-2.html"}
        -#                     %span Clients 2
        -#                 %li
        -#                   %a{href: "clients-clients-3.html"}
        -#                     %span Clients 3
        -#                 %li
        -#                   %a{href: "clients-clients-4.html"}
        -#                     %span Clients 4
        -#                 %li
        -#                   %a{href: "clients-clients-5.html"}
        -#                     %span Clients 5
        -#                 %li
        -#                   %a{href: "clients-clients-6.html"}
        -#                     %span Clients 6
        -#                 %li
        -#                   %a{href: "clients-clients-7.html"}
        -#                     %span Clients 7
        -#             %li.pi-has-dropdown
        -#               %a{href: "contact-contact-1-fancy-header.html"}
        -#                 %span Contact
        -#               %ul.pi-submenu
        -#                 %li
        -#                   %a{href: "contact-contact-1-fancy-header.html"}
        -#                     %span Contact 1
        -#                 %li
        -#                   %a{href: "contact-contact-2-fancy-header.html"}
        -#                     %span Contact 2
        -#             %li.pi-has-dropdown
        -#               %a{href: "portfolio-portfolio-1.html"}
        -#                 %span Portfolio
        -#               %ul.pi-submenu
        -#                 %li
        -#                   %a{href: "portfolio-portfolio-1.html"}
        -#                     %span Portfolio 1
        -#                 %li
        -#                   %a{href: "portfolio-portfolio-2.html"}
        -#                     %span Portfolio 2
        -#                 %li
        -#                   %a{href: "portfolio-portfolio-3.html"}
        -#                     %span Portfolio 3
        -#                 %li
        -#                   %a{href: "portfolio-portfolio-4.html"}
        -#                     %span Portfolio 4
        -#                 %li
        -#                   %a{href: "portfolio-portfolio-5.html"}
        -#                     %span Portfolio 5
        -#                 %li
        -#                   %a{href: "portfolio-portfolio-6.html"}
        -#                     %span Portfolio 6
        -#                 %li
        -#                   %a{href: "portfolio-portfolio-7.html"}
        -#                     %span Portfolio 7
        -#                 %li
        -#                   %a{href: "portfolio-portfolio-8.html"}
        -#                     %span Portfolio 8
        -#                 %li
        -#                   %a{href: "portfolio-portfolio-9.html"}
        -#                     %span Portfolio 9
        -#                 %li
        -#                   %a{href: "portfolio-portfolio-10.html"}
        -#                     %span Portfolio 10
        -#             %li.pi-has-dropdown
        -#               %a{href: "services-services-1.html"}
        -#                 %span Services
        -#               %ul.pi-submenu
        -#                 %li
        -#                   %a{href: "services-services-1.html"}
        -#                     %span Services 1
        -#                 %li
        -#                   %a{href: "services-services-2.html"}
        -#                     %span Services 2
        -#                 %li
        -#                   %a{href: "services-services-3.html"}
        -#                     %span Services 3
        -#                 %li
        -#                   %a{href: "services-services-4.html"}
        -#                     %span Services 4
        -#                 %li
        -#                   %a{href: "services-services-5.html"}
        -#                     %span Services 5
        -#                 %li
        -#                   %a{href: "services-services-6.html"}
        -#                     %span Services 6
        -#                 %li
        -#                   %a{href: "services-services-7.html"}
        -#                     %span Services 7
        -#                 %li
        -#                   %a{href: "services-services-8.html"}
        -#                     %span Services 8
        -#                 %li
        -#                   %a{href: "services-services-9.html"}
        -#                     %span Services 9
        -#                 %li
        -#                   %a{href: "services-services-10.html"}
        -#                     %span Services 10
        -#                 %li
        -#                   %a{href: "services-services-11.html"}
        -#                     %span Services 11
        -#             %li.pi-has-dropdown
        -#               %a{href: "team-team-1.html"}
        -#                 %span Team
        -#               %ul.pi-submenu
        -#                 %li
        -#                   %a{href: "team-team-1.html"}
        -#                     %span Team 1
        -#                 %li
        -#                   %a{href: "team-team-2.html"}
        -#                     %span Team 2
        -#                 %li
        -#                   %a{href: "team-team-3.html"}
        -#                     %span Team 3
        -#             %li.pi-has-dropdown
        -#               %a{href: "testimonials-testimonials-1.html"}
        -#                 %span Testimonials
        -#               %ul.pi-submenu
        -#                 %li
        -#                   %a{href: "testimonials-testimonials-1.html"}
        -#                     %span Testimonials 1
        -#                 %li
        -#                   %a{href: "testimonials-testimonials-2.html"}
        -#                     %span Testimonials 2
        -#         %li.pi-has-dropdown
        -#           %a{href: "titlebars-small-breadcrumb-right.html"}
        -#             %span Elements
        -#           %ul.pi-submenu.pi-has-border.pi-items-have-borders.pi-has-shadow.pi-submenu-dark
        -#             %li.pi-has-dropdown
        -#               %a{href: "titlebars-small-breadcrumb-right.html"}
        -#                 %span Titlebars
        -#               %ul.pi-submenu
        -#                 %li
        -#                   %a{href: "titlebars-small-breadcrumb-right.html"}
        -#                     %span Titlebars - small breadcrumb right
        -#                 %li
        -#                   %a{href: "titlebars-small-breadcrumb-top.html"}
        -#                     %span Titlebars - small breadcrumb top
        -#                 %li
        -#                   %a{href: "titlebars-big-breadcrumb-right.html"}
        -#                     %span Titlebars - big breadcrumb right
        -#                 %li
        -#                   %a{href: "titlebars-big-breadcrumb-top.html"}
        -#                     %span Titlebars - big breadcrumb top
        -#                 %li
        -#                   %a{href: "titlebars-only-breadcrumb.html"}
        -#                     %span Titlebars - only breadcrumb
        -#             %li.pi-has-dropdown
        -#               %a{href: "typo.html"}
        -#                 %span Typography
        -#               %ul.pi-submenu
        -#                 %li
        -#                   %a{href: "typo.html"}
        -#                     %span Typography
        -#             %li.pi-has-dropdown
        -#               %a{href: "icon-boxes-horizontal.html"}
        -#                 %span Icon boxes
        -#               %ul.pi-submenu
        -#                 %li
        -#                   %a{href: "icon-boxes-horizontal.html"}
        -#                     %span Icon boxes horizontal
        -#                 %li
        -#                   %a{href: "icon-boxes-vertical.html"}
        -#                     %span Icon boxes vertical
        -#             %li.pi-has-dropdown
        -#               %a{href: "lists-simple.html"}
        -#                 %span Lists
        -#               %ul.pi-submenu
        -#                 %li
        -#                   %a{href: "lists-simple.html"}
        -#                     %span Lists simple
        -#                 %li
        -#                   %a{href: "lists-icons.html"}
        -#                     %span Lists icons
        -#                 %li
        -#                   %a{href: "lists-groups.html"}
        -#                     %span Lists groups
        -#                 %li
        -#                   %a{href: "lists-images.html"}
        -#                     %span Lists images
        -#             %li.pi-has-dropdown
        -#               %a{href: "socials.html"}
        -#                 %span Socials
        -#               %ul.pi-submenu
        -#                 %li
        -#                   %a{href: "socials-small.html"}
        -#                     %span Socials complex small
        -#                 %li
        -#                   %a{href: "socials.html"}
        -#                     %span Socials complex
        -#                 %li
        -#                   %a{href: "socials-big.html"}
        -#                     %span Socials complex big
        -#                 %li
        -#                   %a{href: "socials.html"}
        -#                     %span Socials simple
        -#             %li.pi-has-dropdown
        -#               %a{href: "counters-numbers.html"}
        -#                 %span Counters
        -#               %ul.pi-submenu
        -#                 %li
        -#                   %a{href: "counters-numbers.html"}
        -#                     %span Counters numbers
        -#                 %li
        -#                   %a{href: "counters-progress-bars.html"}
        -#                     %span Counters progress bars
        -#             %li.pi-has-dropdown
        -#               %a{href: "tabs.html"}
        -#                 %span Tabs
        -#               %ul.pi-submenu
        -#                 %li
        -#                   %a{href: "tabs-big.html"}
        -#                     %span Tabs big
        -#             %li
        -#               %a{href: "tables.html"}
        -#                 %span Tables
        -#             %li
        -#               %a{href: "accordions.html"}
        -#                 %span Accordions
        -#             %li
        -#               %a{href: "alert-boxes.html"}
        -#                 %span Alert boxes
        -#             %li
        -#               %a{href: "boxes.html"}
        -#                 %span Boxes
        -#             %li
        -#               %a{href: "buttons.html"}
        -#                 %span Buttons
        -#             %li
        -#               %a{href: "forms.html"}
        -#                 %span Forms
        -#             %li
        -#               %a{href: "slider.html"}
        -#                 %span Slider
        -#             %li.pi-has-dropdown
        -#               %a{href: "google-maps-roadmap.html"}
        -#                 %span Google maps
        -#               %ul.pi-submenu
        -#                 %li
        -#                   %a{href: "google-maps-roadmap.html"}
        -#                     %span Roadmap
        -#                 %li
        -#                   %a{href: "google-maps-grey.html"}
        -#                     %span Grey style
        -#                 %li
        -#                   %a{href: "google-maps-dark.html"}
        -#                     %span Dark style
        -#                 %li
        -#                   %a{href: "google-maps-satellite.html"}
        -#                     %span Satellite
        -#                 %li
        -#                   %a{href: "google-maps-hybrid.html"}
        -#                     %span Hybrid
        -#             %li
        -#               %a{href: "images.html"}
        -#                 %span Images
        -#             %li
        -#               %a{href: "pricing-tables.html"}
        -#                 %span Pricing tables
        -#             %li
        -#               %a{href: "sections.html"}
        -#                 %span Sections
        -#             %li.pi-has-dropdown
        -#               %a{href: "testimonials-simple.html"}
        -#                 %span Testimonials
        -#               %ul.pi-submenu
        -#                 %li
        -#                   %a{href: "testimonials-simple.html"}
        -#                     %span Simple
        -#                 %li
        -#                   %a{href: "testimonials-photo.html"}
        -#                     %span With Photo
        -#         %li.pi-has-dropdown
        -#           %a{href: "utility-utility-alignment.html"}
        -#             %span Utility
        -#           %ul.pi-submenu.pi-has-border.pi-items-have-borders.pi-has-shadow.pi-submenu-dark
        -#             %li
        -#               %a{href: "utility-utility-grid.html"}
        -#                 %span Utility grid
        -#             %li
        -#               %a{href: "utility-utility-visibility.html"}
        -#                 %span Utility visibility
        -#             %li
        -#               %a{href: "utility-utility-alignment.html"}
        -#                 %span Utility alignment
        -#         %li.pi-has-dropdown
        -#           %a{href: "docs-theme-structure.html"}
        -#             %span Docs
        -#           %ul.pi-submenu.pi-has-border.pi-items-have-borders.pi-has-shadow.pi-submenu-dark
        -#             %li
        -#               %a{href: "docs-credits.html"}
        -#                 %span Credits
        -#             %li
        -#               %a{href: "docs-changelog.html"}
        -#                 %span Changelog
        -#             %li
        -#               %a{href: "docs-theme-structure.html"}
        -#                 %span Theme structure
        -#             %li
        -#               %a{href: "docs-theme-settings.html"}
        -#                 %span Theme settings
        -#             %li
        -#               %a{href: "docs-sections.html"}
        -#                 %span Sections
        -#             %li
        -#               %a{href: "docs-grid.html"}
        -#                 %span Grid
        -#             %li
        -#               %a{href: "docs-global-helpers.html"}
        -#                 %span Global helpers
        -#             %li
        -#               %a{href: "docs-responsive-helpers.html"}
        -#                 %span Responsive helpers
        -#             %li
        -#               %a{href: "docs-socials.html"}
        -#                 %span Socials
        -#     / End menu
      -#       / Mobile menu button
      -#       .pi-header-block.pi-pull-right.pi-hidden-lg-only.pi-hidden-md-only
      -#         %button.btn.pi-btn.pi-mobile-menu-toggler
      -#           %i.icon-menu.pi-text-center
      -#       / End mobile menu button
      -#       / Mobile menu
      -#       .pi-section-menu-mobile-w.pi-section-dark
      -#         .pi-section-menu-mobile
      -#           / Search form
      -#           %form.form-inline.pi-search-form-wide.ng-pristine.ng-valid{role: "form"}
      -#             .pi-input-with-icon
      -#               .pi-input-icon
      -#                 %i.icon-search-2
      -#               %input.form-control.pi-input-wide{placeholder: "Search..", type: "text"}/
      -#           / End search form
      -#           %ul.pi-menu-mobile.pi-menu-mobile-dark
      -#             %li.active
      -#               %a{href: "index.html"} Home
      -#             %li
      -#               %a{href: "portfolio-3-columns.html"} Templates
      -#               %ul
      -#                 %li
      -#                   %a{href: "index.html"} Homepage
      -#                 %li
      -#                   %a{href: "index.html"} Portfolio
      -#                 %li
      -#                   %a{href: "index.html"} Blog
      -#             %li
      -#               %a{href: "index.html"} Elements
      -#             %li
      -#               %a{href: "#/header/header-logos"} Header
      -#             %li
      -#               %a{href: "#/header/header-logos"} Footer
      -#             %li
      -#               %a{href: "#/utility/utility-grid"} Utility
      -#       / End mobile menu
      -#   / End header row
      -# / End header
      #page
        / - - - - - - - - - SECTION - - - - - - - - -
        / Title bar
        .pi-section-w.pi-section-base.pi-section-base-gradient
          .pi-texture{style: "background: url(stylesheets/Images/hexagon.png) repeat;"}
          .pi-section{style: "padding: 30px 40px 26px;"}
            .pi-row
              .pi-col-sm-4.pi-center-text-xs
                %h1.h2.pi-weight-300.pi-margin-bottom-5 Openshift Dev Center
              .pi-col-sm-8.pi-text-right.pi-center-text-xs
                %p.lead-20.pi-weight-300.pi-margin-top-5.pi-margin-bottom-5 Where Open Source doesn't just mean software.
        / End title bar
        / - - - - - - - - - END SECTION - - - - - - - - -
        / - - - - - - - - - SECTION - - - - - - - - -
        / Breadcrumbs
        .pi-section-w.pi-border-bottom.pi-section-grey
          .pi-section.pi-titlebar.pi-breadcrumb-only
            .pi-breadcrumb.pi-center-text-xs
              -# %ul
              -#   %li
              -#     %a{href: "#"} Home
              -#   %li
              -#     %a{href: "#"} Company
              -#   %li Portfolio
        / End breadcrumbs
        / - - - - - - - - - END SECTION - - - - - - - - -
        / - - - - - - - - - SECTION - - - - - - - - -
        .pi-section-w.pi-section-white
          .pi-section.pi-padding-bottom-30
            -# / Filter
            -# .pi-pagenav.pi-padding-bottom-20.pi-big.pi-text-center{"data-isotope-nav" => "isotope"}
            -#   %ul
            -#     %li
            -#       %a.pi-active{"data-filter" => "*", href: "#"} All
            -#     %li
            -#       %a{"data-filter" => ".Beautiful", href: "#"} Beautiful
            -#     %li
            -#       %a{"data-filter" => ".Lifestyle", href: "#"} Lifestyle
            -#     %li
            -#       %a{"data-filter" => ".Creation", href: "#"} Creation
            -#     %li
            -#       %a{"data-filter" => ".Business", href: "#"} Business
            -#     %li
            -#       %a{"data-filter" => ".Travel", href: "#"} Travel
            -#     %li
            -#       %a{"data-filter" => ".Nature", href: "#"} Nature
            -# / End filter
            / Portfolio gallery
            #isotope.pi-row.pi-liquid-col-xs-2.pi-liquid-col-sm-3.pi-gallery.pi-gallery-small-margins.pi-text-center.isotope
              / Portfolio item
              .Beautiful.Morning.pi-gallery-item.pi-padding-bottom-40.isotope-item
                .pi-img-w.pi-img-round-corners.pi-img-shadow
                  %a.pi-colorbox{href: "stylesheets/Languages/drupal.png"}
                    %img{alt: "", src: "stylesheets/Languages/drupal.png"}/
                    .pi-img-overlay.pi-no-padding.pi-img-overlay-darker
                      .pi-caption-centered
                        %div
                          %span.pi-caption-icon.pi-caption-scale.icon-search
                %h3.h6.pi-weight-700.pi-uppercase.pi-letter-spacing.pi-margin-bottom-5
                  %a.pi-link-dark{href: "#"} Drupal
                %ul.pi-meta
                  %li
                    %i.icon-tag
                    = succeed "," do
                      %a{href: "#"} Tag 1
                    %a{href: "#"} Tag 2
              / End portfolio item
              / Portfolio item
              .Lifestyle.Creation.pi-gallery-item.pi-padding-bottom-40.isotope-item
                .pi-img-w.pi-img-round-corners.pi-img-shadow
                  %a.pi-colorbox{href: "stylesheets/Languages/wordpress.png"}
                    %img{alt: "", src: "stylesheets/Languages/wordpress.png"}/
                    .pi-img-overlay.pi-no-padding.pi-img-overlay-darker
                      .pi-caption-centered
                        %div
                          %span.pi-caption-icon.pi-caption-scale.icon-plus
                %h3.h6.pi-weight-700.pi-uppercase.pi-letter-spacing.pi-margin-bottom-5
                  %a.pi-link-dark{href: "#"} Wordpress
                %ul.pi-meta
                  %li
                    %i.icon-tag
                    = succeed "," do
                      %a{href: "#"} Tag 1
                    %a{href: "#"} Tag 2
              / End portfolio item
              / Portfolio item
              .Technology.Business.pi-gallery-item.pi-padding-bottom-40.isotope-item
                .pi-img-w.pi-img-round-corners.pi-img-shadow
                  %a.pi-colorbox{href: "stylesheets/Languages/java.png"}
                    %img{alt: "", src: "stylesheets/Languages/java.png"}/
                    .pi-img-overlay.pi-no-padding.pi-img-overlay-darker
                      .pi-caption-centered
                        %div
                          %span.pi-caption-icon.pi-caption-scale.icon-search
                %h3.h6.pi-weight-700.pi-uppercase.pi-letter-spacing.pi-margin-bottom-5
                  %a.pi-link-dark{href: "#"} Java
                %ul.pi-meta
                  %li
                    %i.icon-tag
                    = succeed "," do
                      %a{href: "#"} Tag 1
                    %a{href: "#"} Tag 2
              / End portfolio item
              / Portfolio item
              .Beautiful.Travel.pi-gallery-item.pi-padding-bottom-40.isotope-item
                .pi-img-w.pi-img-round-corners.pi-img-shadow
                  %a.pi-colorbox{href: "stylesheets/Languages/jboss.png"}
                    %img{alt: "", src: "stylesheets/Languages/jboss.png"}/
                    .pi-img-overlay.pi-no-padding.pi-img-overlay-darker
                      .pi-caption-centered
                        %div
                          %span.pi-caption-icon.pi-caption-scale.icon-plus
                %h3.h6.pi-weight-700.pi-uppercase.pi-letter-spacing.pi-margin-bottom-5
                  %a.pi-link-dark{href: "#"} JBoss
                %ul.pi-meta
                  %li
                    %i.icon-tag
                    = succeed "," do
                      %a{href: "#"} Tag 1
                    %a{href: "#"} Tag 2
              / End portfolio item
              / Portfolio item
              .Beautiful.Food.pi-gallery-item.pi-padding-bottom-40.isotope-item
                .pi-img-w.pi-img-round-corners.pi-img-shadow
                  %a.pi-colorbox{href: "stylesheets/Languages/ruby.png"}
                    %img{alt: "", src: "stylesheets/Languages/ruby.png"}/
                    .pi-img-overlay.pi-no-padding.pi-img-overlay-darker
                      .pi-caption-centered
                        %div
                          %span.pi-caption-icon.pi-caption-scale.icon-search
                %h3.h6.pi-weight-700.pi-uppercase.pi-letter-spacing.pi-margin-bottom-5
                  %a.pi-link-dark{href: "#"} Ruby
                %ul.pi-meta
                  %li
                    %i.icon-tag
                    = succeed "," do
                      %a{href: "#"} Tag 1
                    %a{href: "#"} Tag 2
              / End portfolio item
              / Portfolio item
              .Sport.Lifestyle.pi-gallery-item.pi-padding-bottom-40.isotope-item
                .pi-img-w.pi-img-round-corners.pi-img-shadow
                  %a.pi-colorbox{href: "stylesheets/Languages/php.png"}
                    %img{alt: "", src: "stylesheets/Languages/php.png"}/
                    .pi-img-overlay.pi-no-padding.pi-img-overlay-darker
                      .pi-caption-centered
                        %div
                          %span.pi-caption-icon.pi-caption-scale.icon-plus
                %h3.h6.pi-weight-700.pi-uppercase.pi-letter-spacing.pi-margin-bottom-5
                  %a.pi-link-dark{href: "#"} PHP
                %ul.pi-meta
                  %li
                    %i.icon-tag
                    = succeed "," do
                      %a{href: "#"} Tag 1
                    %a{href: "#"} Tag 2
              / End portfolio item
              / Portfolio item
              .Food.Nature.pi-gallery-item.pi-padding-bottom-40.isotope-item
                .pi-img-w.pi-img-round-corners.pi-img-shadow
                  %a.pi-colorbox{href: "stylesheets/Languages/nodejs.png"}
                    %img{alt: "", src: "stylesheets/Languages/nodejs.png"}/
                    .pi-img-overlay.pi-no-padding.pi-img-overlay-darker
                      .pi-caption-centered
                        %div
                          %span.pi-caption-icon.pi-caption-scale.icon-search
                %h3.h6.pi-weight-700.pi-uppercase.pi-letter-spacing.pi-margin-bottom-5
                  %a.pi-link-dark{href: "#"} NodeJS
                %ul.pi-meta
                  %li
                    %i.icon-tag
                    = succeed "," do
                      %a{href: "#"} Tag 1
                    %a{href: "#"} Tag 2
              / End portfolio item
              / Portfolio item
              .Travel.Lifestyle.pi-gallery-item.pi-padding-bottom-40.isotope-item
                .pi-img-w.pi-img-round-corners.pi-img-shadow
                  %a.pi-colorbox{href: "stylesheets/Languages/python.png"}
                    %img{alt: "", src: "stylesheets/Languages/python.png"}/
                    .pi-img-overlay.pi-no-padding.pi-img-overlay-darker
                      .pi-caption-centered
                        %div
                          %span.pi-caption-icon.pi-caption-scale.icon-plus
                %h3.h6.pi-weight-700.pi-uppercase.pi-letter-spacing.pi-margin-bottom-5
                  %a.pi-link-dark{href: "#"} Python
                %ul.pi-meta
                  %li
                    %i.icon-tag
                    = succeed "," do
                      %a{href: "#"} Tag 1
                    %a{href: "#"} Tag 2
              / End portfolio item
              / Portfolio item
              .Nature.Business.pi-gallery-item.pi-padding-bottom-40.isotope-item
                .pi-img-w.pi-img-round-corners.pi-img-shadow
                  %a.pi-colorbox{href: "stylesheets/Languages/wildfly.png"}
                    %img{alt: "", src: "stylesheets/Languages/wildfly.png"}/
                    .pi-img-overlay.pi-no-padding.pi-img-overlay-darker
                      .pi-caption-centered
                        %div
                          %span.pi-caption-icon.pi-caption-scale.icon-search
                %h3.h6.pi-weight-700.pi-uppercase.pi-letter-spacing.pi-margin-bottom-5
                  %a.pi-link-dark{href: "#"} WildFly
                %ul.pi-meta
                  %li
                    %i.icon-tag
                    = succeed "," do
                      %a{href: "#"} Tag 1
                    %a{href: "#"} Tag 2
              / End portfolio item
              / Portfolio item
              .pi-gallery-item.pi-padding-bottom-40.isotope-item{class: "Сreation"}
                .pi-img-w.pi-img-round-corners.pi-img-shadow
                  %a.pi-colorbox{href: "stylesheets/Languages/django.png"}
                    %img{alt: "", src: "stylesheets/Languages/django.png"}/
                    .pi-img-overlay.pi-no-padding.pi-img-overlay-darker
                      .pi-caption-centered
                        %div
                          %span.pi-caption-icon.pi-caption-scale.icon-plus
                %h3.h6.pi-weight-700.pi-uppercase.pi-letter-spacing.pi-margin-bottom-5
                  %a.pi-link-dark{href: "#"} Django
                %ul.pi-meta
                  %li
                    %i.icon-tag
                    %a{href: "#"} Tag 1
              / End portfolio item
              / Portfolio item
              .Travel.Lifestyle.pi-gallery-item.pi-padding-bottom-40.isotope-item
                .pi-img-w.pi-img-round-corners.pi-img-shadow
                  %a.pi-colorbox{href: "stylesheets/Languages/mongodb.png"}
                    %img{alt: "", src: "stylesheets/Languages/mongodb.png"}/
                    .pi-img-overlay.pi-no-padding.pi-img-overlay-darker
                      .pi-caption-centered
                        %div
                          %span.pi-caption-icon.pi-caption-scale.icon-search
                %h3.h6.pi-weight-700.pi-uppercase.pi-letter-spacing.pi-margin-bottom-5
                  %a.pi-link-dark{href: "#"} MongoDB
                %ul.pi-meta
                  %li
                    %i.icon-tag
                    = succeed "," do
                      %a{href: "#"} Tag 1
                    %a{href: "#"} Tag 2
              / End portfolio item
              / Portfolio item
              .Creation.Lifestyle.pi-gallery-item.pi-padding-bottom-40.isotope-item
                .pi-img-w.pi-img-round-corners.pi-img-shadow
                  %a.pi-colorbox{href: "stylesheets/Languages/mysql.png"}
                    %img{alt: "", src: "stylesheets/Languages/mysql.png"}/
                    .pi-img-overlay.pi-no-padding.pi-img-overlay-darker
                      .pi-caption-centered
                        %div
                          %span.pi-caption-icon.pi-caption-scale.icon-plus
                %h3.h6.pi-weight-700.pi-uppercase.pi-letter-spacing.pi-margin-bottom-5
                  %a.pi-link-dark{href: "#"} Mysql
                %ul.pi-meta
                  %li
                    %i.icon-tag
                    = succeed "," do
                      %a{href: "#"} Tag 1
                    %a{href: "#"} Tag 2
              / End portfolio item
              / Portfolio item
              .Nature.pi-gallery-item.pi-padding-bottom-40.isotope-item
                .pi-img-w.pi-img-round-corners.pi-img-shadow
                  %a.pi-colorbox{href: "stylesheets/Languages/golang.png"}
                    %img{alt: "", src: "stylesheets/Languages/golang.png"}/
                    .pi-img-overlay.pi-no-padding.pi-img-overlay-darker
                      .pi-caption-centered
                        %div
                          %span.pi-caption-icon.pi-caption-scale.icon-search
                %h3.h6.pi-weight-700.pi-uppercase.pi-letter-spacing.pi-margin-bottom-5
                  %a.pi-link-dark{href: "#"} Go
                %ul.pi-meta
                  %li
                    %i.icon-tag
                    %a{href: "#"} Tag 1
              / End portfolio item
              / Portfolio item
              .Creation.Nature.pi-gallery-item.pi-padding-bottom-40.isotope-item
                .pi-img-w.pi-img-round-corners.pi-img-shadow
                  %a.pi-colorbox{href: "stylesheets/Languages/tomcat.png"}
                    %img{alt: "", src: "stylesheets/Languages/tomcat.png"}/
                    .pi-img-overlay.pi-no-padding.pi-img-overlay-darker
                      .pi-caption-centered
                        %div
                          %span.pi-caption-icon.pi-caption-scale.icon-plus
                %h3.h6.pi-weight-700.pi-uppercase.pi-letter-spacing.pi-margin-bottom-5
                  %a.pi-link-dark{href: "#"} Apache Tomcat
                %ul.pi-meta
                  %li
                    %i.icon-tag
                    = succeed "," do
                      %a{href: "#"} Tag 1
                    %a{href: "#"} Tag 2
              / End portfolio item
              / Portfolio item
              .Nature.pi-gallery-item.pi-padding-bottom-40.isotope-item
                .pi-img-w.pi-img-round-corners.pi-img-shadow
                  %a.pi-colorbox{href: "stylesheets/Languages/openshift.png"}
                    %img{alt: "", src: "stylesheets/Languages/openshift.png"}/
                    .pi-img-overlay.pi-no-padding.pi-st-overlay-darker
                      .pi-caption-centered
                        %div
                          %span.pi-caption-icon.pi-caption-scale.icon-search
                %h3.h6.pi-weight-700.pi-uppercase.pi-letter-spacing.pi-margin-bottom-5
                  %a.pi-link-dark{href: "#"} Cartridge Creation
                %ul.pi-meta
                  %li
                    %i.icon-tag
                    %a{href: "#"} Tag 1
              / End portfolio item
            / End portfolio gallery
        / - - - - - - - - - END SECTION - - - - - - - - -
        / - - - - - - - - - END SECTION - - - - - - - - -
        .pi-section-w.pi-shadow-inside-top.pi-section-base
          .pi-texture{style: "background: url(stylesheets/Images/hexagon.png) repeat;"}
          .pi-section
            / Row
            .pi-row
              / Col 8
              .pi-col-sm-8.pi-text-right.pi-center-text-sm
                %p.lead-30.pi-text-white
                  Want to submit your own documentation?
                  -# %span.pi-weight-400
              / End col 8
              / Col 4
              .pi-col-sm-4.pi-center-text-sm
                %p
                  %a.btn.pi-btn-base-2.pi-btn-big{href: "https://github.com/Coolhand/devcenter"}
                    %i.icon-mail.pi-icon-left
                    Fork us on Github
              / End col 4
            / End row
        / - - - - - - - - - END SECTION - - - - - - - - -
      / Footer
      / Widget area
      .pi-section-w.pi-border-bottom.pi-border-top-light.pi-section-dark
        .pi-section.pi-padding-bottom-10
          / Row
          .pi-row
            / Col 4
            .pi-col-md-4.pi-padding-bottom-30
              %h6.pi-margin-bottom-25.pi-weight-700.pi-uppercase.pi-letter-spacing
                %a.pi-link-no-style{href: "#"} Latest Tweet
              / Twitter
              %ul.pi-bullets-circle.pi-bullets-base.pi-bullets.pi-list-big-margins
                %li
                  %span.pi-bullet-icon
                    %i.icon-twitter
                -#   %a{href: "#"} @aura:
                -#   Neque porro quisquam est, qui dolorem ipsum quia
                -#   %a{href: "#"} goo.gl/5GlsEZ
                -#   numquam eius.
                -#   %br/
                -#   %span.pi-smaller-text.pi-italic.pi-text-opacity-50 04 Feb
                -# %li
                -#   %span.pi-bullet-icon
                -#     %i.icon-twitter
                -#   %a{href: "#"} @aura:
                -#   Ut enim ad minima veniam, quis nostrum
                -#   %a{href: "#"} goo.gl/6QKhAB
                -#   ullam nisi ut aliquid
                -#   %br/
                -#   %span.pi-smaller-text.pi-italic.pi-text-opacity-50 04 Feb
                -#   %br/
                -#   %button.btn.pi-btn-dark.pi-btn-no-border.pi-btn-small.pi-margin-top-15
                -#     Follow @aura
              / End twitter
            / End col 4
            .pi-clearfix.pi-hidden-lg-only.pi-hidden-md-only
            / Col 4
            .pi-col-md-4.pi-col-sm-6.pi-padding-bottom-30{style: "background-image: url('stylesheets/Images/map-base.png'); background-position: 50% 55px; background-repeat: no-repeat;"}
              %h6.pi-margin-bottom-25.pi-weight-700.pi-uppercase.pi-letter-spacing
                Contact Us
              / Contact info
              %ul.pi-list-with-icons.pi-list-big-margins
                %li
                -#   %span.pi-bullet-icon
                -#     %i.icon-location
                -#   %strong Address:
                -#   557 Cyan Avenue, Suite 65,
                -#   = succeed "New" do
                -#     %br/
                -# %li
                -#   %span.pi-bullet-icon
                -#     %i.icon-phone
                -#   %strong Phone:
                -#   (123) 456-7890
                %li
                  %span.pi-bullet-icon
                    %i.icon-mail
                  %strong Email:
                  %a{href: "mailto:openshift-help@redhat.com"} openshift-help@redhat.com
                -# %li
                -#   %span.pi-bullet-icon
                -#     %i.icon-clock
                -#   Monday - Friday:
                -#   %strong 9:00 am - 10:00 pm
                -#   %br/
                -#   Saturday - Sunday:
                -#   %strong Closed
              / End contact info
            / End col 4
            / Col 4
            .pi-col-md-4.pi-col-sm-6.pi-padding-bottom-30
              %h6.pi-margin-bottom-25.pi-weight-700.pi-uppercase.pi-letter-spacing
                Say Hey
              / Contact form
              %form.pi-footer-form{action: "handlers/formFooter.php", role: "form"}
                .pi-error-container
                .pi-row.pi-grid-small-margins
                  .pi-col-2xs-6
                    .form-group
                      .pi-input-with-icon
                        .pi-input-icon
                          %i.icon-user
                        %input#exampleInputName.form-control.form-control-name{placeholder: "Name"}/
                  .pi-col-2xs-6
                    .form-group
                      .pi-input-with-icon
                        .pi-input-icon
                          %i.icon-mail-alt
                        %input#exampleInputEmail.form-control.form-control-email{placeholder: "Email", type: "email"}/
                .form-group
                  .pi-input-with-icon
                    .pi-input-icon
                      %i.icon-pencil
                    %textarea#exampleInputMessage.form-control.form-control-comments{placeholder: "Message", rows: "3"}
                %p
                  %button.btn.pi-btn-base.pi-btn-no-border{type: "submit"} Send
              / End contact form
            / End col 4
          / End row
      / End widget area
      / Copyright area
      .pi-section-w.pi-section-header-w.pi-section-dark.pi-border-top-light.pi-border-bottom-strong-base.pi-section-header-lg-w
        .pi-section.pi-section-header.pi-section-header-lg.pi-center-text-2xs.pi-clearfix
          / Social icons
          .pi-header-block.pi-pull-right.pi-hidden-2xs
            %ul.pi-social-icons-simple.pi-small.clearFix
              %li
                %a.pi-social-icon-facebook{href: "#"}
                  %i.icon-facebook
              %li
                %a.pi-social-icon-twitter{href: "#"}
                  %i.icon-twitter
              %li
                %a.pi-social-icon-dribbble{href: "#"}
                  %i.icon-dribbble-1
              %li
                %a.pi-social-icon-tumblr{href: "#"}
                  %i.icon-tumblr
              %li
                %a.pi-social-icon-vimeo{href: "#"}
                  %i.icon-vimeo
              %li
                %a.pi-social-icon-rss{href: "#"}
                  %i.icon-rss
          / End social icons
          / Footer logo
          -# .pi-header-block.pi-header-block-logo.pi-header-block-bordered
            
          -#   %a{href: "#"}

          -#     %img{alt: "", src: "stylesheet/Images/logo-opacity-dark.png"}/
          / End footer logo
          / Text
          -# %span.pi-header-block.pi-header-block-txt.pi-hidden-xs
          -#   © 2014. «
          -#   %a{href: "#"}> Aura HTML Theme
          -#   ».
          -#   All right reserved.
          -# / End text
      / End copyright area
      / End footer
    %script{src: "3dParty/jquery-1.11.0.min.js"}
    %script{src: "scripts/pi.helpers.js"}
    %script{src: "scripts/pi.boundManager.js"}
    %script{src: "scripts/pi.columnFix.js"}
    %script{src: "scripts/pi.init.caption.js"}
    %script{src: "3dParty/isotope/isotope.js"}
    %script{src: "scripts/pi.init.isotope.js"}
    %script{src: "3dParty/colorbox/jquery.colorbox-min.js"}
    %script{src: "scripts/pi.init.colorbox.js"}
    %script{src: "scripts/pi.init.social.js"}
    %script{src: "scripts/pi.ddMenu.js"}
    %script{src: "scripts/pi.init.removeLastElMargin.js"}
    %script{src: "scripts/pi.fixedHeader.js"}
    %script{src: "scripts/pi.mobileMenu.js"}
    %script{src: "scripts/pi.init.submitFormFooter.js"}
    %script{src: "scripts/pi.detectTransition.js"}
    %script{src: "scripts/pi.alert.js"}
    %script{src: "scripts/pi.init.formsBlurClasses.js"}
    %script{src: "scripts/pi.init.placeholder.js"}
